<div class="form-header">
    <% if (locals.result) { %>
      <h2>La Union es: <%= '{'+locals.result +'} Diferencia:{'+ locals.result1 +'} Interseccion:{'+ locals.result2+'}'%>%></h2>
    <% } else { %>
      <h2>Ingrese valores:</h2>
    <% } %>
  </div>
<form action="/conjuntos" method="POST">
    <input type="text" placeholder="[2,..]" name="A">
    <input type="text" placeholder="[1,..]" name="B">
    <button type="submit">Operacion Conjuntos</button>
</form>